.anything_else {
    transition: max-height 0.45s ease;
    overflow: hidden;
}

.anything_hidden {
    max-height: 0 !important;
}

.anything_show {
    max-height: 1000px;
}

.emailInput, .messageInput {
    background-color: transparent;
    border: 1px solid white;
    padding: 9px 15px;
    border-radius: 6px;
    min-width: 100%;
    font-size: 1.1em;
    color: white;
}

.emailInput:focus, .messageInput:focus {
    outline: none;
}

.submit_button {
    transition: background-color 200ms ease;
}

.submit_button:hover {
    background-color: #fd2187 !important;
}

/* @media (max-width: 768px){
    .submit_button {
        float: right;
    }
} */