.background {
    background-size: cover;
    background-position: center;
    transition: background 400ms ease;
}

.level1 {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.level2 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.halfpage {
    min-width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}



.righthalf {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3rem;
    border: 2px solid white;
    
    h1 {
        font-size: 48px;
    }
    p {
        font-size: 22px;
    }
}

.righthalf_bg {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border: 2px solid rgba(255, 255, 255, 0.8) !important;
}

.stroke {
    font-size: 72px;
    text-align: left;
    font-family: 'Roboto-900';
    text-transform: uppercase;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.719);
    -webkit-text-fill-color: transparent;
    transition: -webkit-text-fill-color 800ms ease;
    letter-spacing: 0.09em;
}

.stroke:hover {
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 2px white;
}

@media (max-width: 769px){
    .level1 {
        place-items: start;
        margin-top: 40px;
    }

    .level2 {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 0px;
    }
    .halfpage {
        min-width: 100%;
    }
    .stroke {
        font-size: 48px;
    }
}