.postcontainer {
    margin-top: 160px;
    padding: 80px;
    background-color: white;
    color: black !important;
}

.postcontainer > h1 {
    color: black !important;
    text-transform: capitalize;
}

@media (max-width: 768px){
    .postcontainer {
        padding: 80px 40px;
    }
}