.postcontainer {
    padding: 3.5em;
    background-color: white;
    color: black !important;
    max-width: 800px;
    margin: 80px auto 0px auto;
}

.postcontainer > h1 {
    color: black !important;
    text-transform: capitalize;
}

@media (max-width: 768px){
    .postcontainer {
        padding: 3.5em 1.75em;
    }
}