.page_container {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: background 200ms ease;
    transition-delay: 100ms;
    /* overflow: hidden; */
}

.wheretostart {
    text-align: left;
    height: 120px;
}

.wheretostart > div {
    color: white;
}

.adventureContainer {
    position: relative;
    min-height: 60vh;
    align-items: center;
    transition-delay: 400ms;
}

.contactFormContainer {
    width: 800px;
    margin: 0 auto;
}

.stars {
    background-image: url(/null_bg.webp);
}

.pickAdventure {
    display: flex;
    justify-content: space-between;
}

.adventure {
    box-shadow: 6px 6px 6px rgba(36,36,36,0.12);
    background-position: center;
    background-size: cover;
    padding: 60px 80px;
    border-radius: 0;
    font-size: 2em;
    color: transparent;
    width: 30%;
}

.mobileAdventure {
    height: 120vh;
    background-position: center;
    background-position: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobileAdventure > div {
    padding: 1.5em;
    margin-top: 35vh;
    background-color: rgba(36,36,36,0.7);
}

.swipeAnimation {
    position: relative;
    top: -260px;
}

.adventure:hover {
    background: rgba(36,36,36,0.7);
    color: white;
}

.adventure1 {
    background-image: url(/presence-3.webp);
}

.adventure2 {
    background-image: url(/experience-4.webp);
}

.adventure3 {
    background-image: url(/leverage-2.webp);
}

.adventure4 {
    background-image: url(/web3-2.webp);
}

@media (max-width: 768px) {
    .stars {
        background-image: none;
    }
    .adventureContainer {
        min-height: 104vh;
        overflow: hidden;
    }
    .pickAdventure{
        margin-top: 40px;
    }
    .adventure {
        max-height: 22vh;
        padding: 30px 40px;
        margin-bottom: 20px;
        color: transparent !important;
    }

    .contactFormContainer {
        width: auto;
    }
}