.page_container {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: background 200ms ease;
    transition-delay: 100ms;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}

.page_container section {
    scroll-snap-align: start;
}

.contactFormContainer {
    width: 800px;
    margin: 0 auto;
}

.stars {
    background-image: url(/null_bg.webp);
}

.swipeAnimation {
    position: relative;
    top: -260px;
}

.adventure1 {
    background-image: url(/presence-3.webp);
}

.adventure2 {
    background-image: url(/experience-4.webp);
}

.adventure3 {
    background-image: url(/leverage-2.webp);
}

@media (max-width: 768px) {
    .page_container {
        scroll-snap-type: y proximity;
    }
    .stars {
        background-image: none;
    }
    .contactFormContainer {
        width: auto;
    }
    .entername {
        justify-content: flex-start;
    }
}