html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: transparent;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

//gun fun pop
.joy {
  width: 100px;
  height: 100px;
  position: absolute;
  background: url(https://cdn.jsdelivr.net/npm/gun/examples/pop.png) no-repeat;
  background-position: -2800px 0;
  pointer-events: none;
  z-index: 999999999;
  animation: joy 1s steps(28);
}

.pre_animated {
  visibility: hidden;
}

.project_embed {
  ::-webkit-scrollbar {
    width: 0px
  }
}

.realistic_shadow {
  box-shadow: rgba(0, 0, 0, 0.18) 0 .60323px .60323px -1.25px, rgba(0, 0, 0, 0.16) 0 2.29021px 2.29021px -2.5px, rgba(0, 0, 0, 0.063) 0 10px 10px -3.75px;
}

.supertext {
  font-weight: bold;
  font-size: 14px;
  color: #555555;
  line-height: 2em;
  text-transform: uppercase;
}

@keyframes joy {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}
